.App {
  text-align: center;
  color: white;
  background-color: #17191e;
  padding: 20px;
  min-height: 100vh;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-header h1{
  font-size: 35px;
}

.App-header p{
  font-size: calc(25px + 0.5rem);
}

#input-form {
  align-items: center;
  justify-items: center;
}

.input-form {
  align-content: center;
  display: flex;
  flex-direction: row;
}

.input-form textarea {
  max-width: 800px;
  min-width: 18rem;
  min-height: 30px;
  padding: 10px;
  border: solid 1px white;
  border-radius: 5px;
  margin: 0 5px;
}

.input-form button {
  width: 60px;
  max-height: 60px;
  padding: 10px;
  background-color: transparent;
  border: 1px solid aqua;
  border-radius: 15px;
  color:antiquewhite;
  font-size: 1rem;
  font-weight: bold;

}

.input-form button:hover {
  background-color: aqua;
  color: #17191e;
   border-color: antiquewhite;

}

@media screen and (max-width: 430px) {
  .input-form {
    max-width: 300px;
    flex-direction: column;   
  }
  .input-form button{
    align-self: center;
  }

  .input-form textarea {
    max-width: 90%;
    min-width: 90%;
    margin: 20px auto;
  }
  .App-header {
    font-size: 25px;
  }
}

.message-list {
  list-style: none;
  padding: 0;
  justify-content: left;
}

.message-box {
  background-color: #282c34;
  border: 1px solid #3a404b;;
  border-radius: 15px;
  color: antiquewhite;
  padding: 10px;
  margin: 0px auto 10px;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  width: relative;
  font-size: 1rem;
}

.message-box p {
  color: antiquewhite;
  padding: 10px;
  font-size: 1rem;
  text-align: left;
}

.mention {
  color: gold !important;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
}
.mention:hover {
  cursor: pointer;
}

.message-box p a {
  color: #7197f0;
  padding: 10px 0;
  text-decoration: underline;
  word-wrap: break-word; 
  overflow-wrap: break-word;
  white-space: normal;
}

.message-box p a:hover {
cursor: pointer;
}

.emoji {
  font-size: 5em;
  text-align: left;
}